# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath

# Branch switching
generated/

# gcp key
/kim-hyebin-287853483f1a.json
/terraform/kim-hyebin-0030a87dd4f5.json
/ca.key